<!DOCTYPE html>
<html>
{{> head}}
<body class="bg-white container-fluid">
    {{> header}}
    <main class="container">
        {{{body}}}
    </main>
    {{> scripts}}
    {{> footer}}
</body>
</html>